body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* CSS used here will be applied after bootstrap.css */

.list-group-item {
    display: list-item;
}

.letra-pregunta{
	
	font-size: 20px;	
}
